:root {
    --color-dialog-main: rgb(36, 104, 229);
    --color-dialog-main-light: rgb(91, 146, 218);
    --color-dialog-noFocus: rgb(118, 120, 128);
    --color-dialog-error: rgb(227, 17, 17);

    --color-dialog-off: rgb(218, 218, 218);
    --color-dialog-off-dark: rgb(52, 52, 52);

    --font-input: "Liberation Sans", sans-serif;
}

/* DIALOG */
.dialog{
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0 0 32px -16px rgba(0,0,0, .69);
    padding: 32px;
    position: fixed;
    top: 80px;
    min-height: 200px;
    left: 50%;
    width: 650px;

    transform: translate(-50%, 0);
}
.dialog > h1 {
    font-weight: normal;
    margin: 0 0 8px 0;
}
.dialog > .mobile-close {
    display: none;
}
.dialog > p.errorMsg{
    color: var(--color-dialog-error);
    margin: 0 0 8px 0;
}
.dialog > .view-container {
    max-height: 60vh;
}
.dialog > .view-container > .view > .content-container > .dialog-content.html{
    padding-bottom: 24px;
}
.dialog > .view-container > .view > .content-container> .dialog-content.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 24px;
}
.dialog > .view-container > .view > .content-container> .dialog-content.form[orientation=horizontal]{
    flex-direction: row;
    justify-content: space-between;
}
.dialog > .view-container > .view > .content-container> .dialog-content.form[orientation=horizontal] > .field-container{
    flex-grow: 1;
    width: 100px;
}
.dialog > .view-container > .view > .content-container> .dialog-content.form[orientation=horizontal] > .field-container.switch{
    width: 120px;
}
.dialog > .view-container > .view > .button-container{
    display: flex;
    float: right;
    gap: 8px;
}

/* FIELDS */
.field-container {
    border: solid 2px var(--color-dialog-noFocus);
    border-radius: 12px;
    display: inline-block;
    padding: 8px;
    position: relative;
    width: 250px;

    transition: border 350ms;
}
.field-container.focus {
    border: solid 2px var(--color-dialog-main);
}
.field-container.error {
    border: solid 2px var(--color-dialog-error);
}
.field-container > .input {
    display: flex;
}
.field-container .field-prefix,
.field-container .field-suffix {
    display: none;
    opacity: 0;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: var(--font-input);
    font-size: 14px;
    padding: 2px 0;

    transition: opacity 350ms;
}
.field-container.focus .field-prefix,
.field-container.filled .field-prefix,
.field-container.focus .field-suffix,
.field-container.filled .field-suffix {
    opacity: 1;
}
.field-container > .input input {
    background: transparent;
    border: none;
    font-family: var(--font-input);
    font-size: 14px;
    min-width: 20px;
    outline: none;
    flex-grow: 1;
}
.field-container > .input input[type=date],
.field-container > .input input[type=time],
.field-container > .input input[type=datetime-local]{
    color: #ffffff;
}
.field-container.focus > .input input[type=date],
.field-container.filled > .input input[type=date],
.field-container.focus > .input input[type=time],
.field-container.filled > .input input[type=time],
.field-container.focus > .input input[type=datetime-local],
.field-container.filled > .input input[type=datetime-local] {
    color: initial;
}
.field-container > .input input::placeholder {
    color: transparent;
}
.field-container.focus > .input input::placeholder {
    color: var(--color-dialog-noFocus);
}
.field-container > .input select {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    padding: 4px;
    margin: -4px 0;

    transition: border 350ms, background-color 350ms;
}
.field-container > .input select:hover {
    background: var(--color-dialog-off);
}
.field-container > .input select > * {
    background: #ffffff;
}
.field-container > .field-label {
    background: #ffffff;
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 12px;

    transition: border 350ms, top 350ms, left 350ms, font-size 350ms;
}
.field-container.filled > .field-label,
.field-container.focus > .field-label {
    border-radius: 8px;
    padding: 1px 4px;
    position: absolute;
    font-size: 10px;
    top: -10px;
}
.field-container.filled > .field-label{
    border: solid 2px var(--color-dialog-noFocus);
}
.field-container.focus > .field-label{
    border: solid 2px var(--color-dialog-main);
}
.field-container.filled.error > .field-label,
.field-container.focus.error > .field-label{
    border: solid 2px var(--color-dialog-error);
}

.field-container > .field-placeholder {
    color: var(--color-dialog-noFocus);
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 9px;
    left: 10px;
    transition: opacity 350ms;
}
.field-container.focus > .field-placeholder {
    opacity: 1;
    transition: opacity 50ms;
}
.field-container.focus > .field-placeholder.invisible {
    opacity: 0;
}

.field-container > .field-supportText {
    bottom: -17px;
    font-size: 12px;
    position: absolute;
    left: 10px;
    transition: opacity 350ms;
}
.field-container.error > .field-supportText {
    color: var(--color-dialog-error)
}

.field-container > .field-count {
    bottom: -17px;
    font-size: 12px;
    position: absolute;
    right: 10px;
    transition: opacity 350ms;
}

/* LOCATION */
.field-container.location > .input {
    flex-direction: column;
}

.field-container.location > .input > .item {
    display: flex;
    padding: 8px 0;
    gap: 8px;
}
.field-container.location > .input > .item:first-child{
    flex-direction: row-reverse;
}
.field-container.location > .input > .item:first-child > {
    flex-direction: row-reverse;
}
.field-container.location > .input > .item input {
    text-align: right;
}
.field-container.location > .input > .item input::placeholder {
    color: var(--color-dialog-noFocus);
}
.dialog-content.form[orientation=horizontal] > .field-container.location > .input {
    flex-direction: row;
    justify-content: space-between;
}
.dialog-content.form[orientation=horizontal] > .field-container.location > .input > .item:not(:first-child){
    flex-grow: 1;
}

/* BUTTON */
.dialog button,
.field-container.location > .input button{
    border: none;
    background: var(--color-dialog-main);
    border-radius: 16px;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 350ms;
}
.dialog button:hover,
.field-container.location > .input button:hover{
    background: var(--color-dialog-main-light);
}
.dialog button:focus,
.field-container.location > .input button:focus{
    border: solid 2px var(--color-dialog-main-light);
    padding: 6px 10px;
}
.field-container.location > .input{
    opacity: 0;
}
.field-container.location.focus > .input,
.field-container.location.filled > .input{
    opacity: 1;
}
.field-container.location > .leaflet-container {
    border-radius: 10px;
    height: 200px;
    width: 100%;
}
.field-container.location > .leaflet-container .leaflet-control-zoom{
    border-radius: 16px;
    overflow: hidden;
    border: none;
}

/* SWITCH */
.field-container.switch {
    align-items: center;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 270px;
}
.field-container.switch > .field-label{
    position: initial;
    line-height: 34px;
}
.field-container.switch > .field-supportText{
    left: 0;
    bottom: -2px;
}
.field-container.switch > .field-switch-container {
    align-items: center;
    display: flex;
    gap: 8px;
}
.field-container.switch > .field-switch-container > label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.field-container.switch > .field-switch-container > label > input {
    opacity: 0;
    width: 0;
    height: 0;
}
.field-container.switch > .field-switch-container > label > .field-switch-slider {
    border: 2px solid var(--color-dialog-off-dark);
    border-radius: 17px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dialog-off);
    transition: 350ms;
}
.field-container.switch > .field-switch-container > label > .field-switch-slider:before {
    border-radius: 13px;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: var(--color-dialog-off-dark);
    -webkit-transition: .4s;
    transition: .4s;
}

.field-container.switch > .field-switch-container > label > input:checked + .field-switch-slider {
    border: 2px solid var(--color-dialog-main);
    background-color: var(--color-dialog-main);
}

.field-container.switch > .field-switch-container > label > input:focus + .field-switch-slider {
    border: 2px solid var(--color-dialog-off-dark);
}
.field-container.switch > .field-switch-container > label > input:focus:not(:checked) + .field-switch-slider {
    border: 2px solid var(--color-dialog-main);
}

.field-container.switch > .field-switch-container > label > input:checked + .field-switch-slider:before {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26'%3E%3Cpolyline points='5 13 10 18 20 6' stroke='%23000000' fill='none' stroke-width='2'/%3E%3C/svg%3E");
    height: 26px;
    width: 26px;
    left: 28px;
    bottom: 2px;
}

/* SELECT */
.field-container.select > .input {
    flex-direction: column;
}
.field-container.select > .input > .select {
    opacity: 0;
    transition: opacity 120ms;
}
.field-container.select.filled > .input > .select,
.field-container.select.focus > .input > .select {
    opacity: 1;
}
.field-container.select > .input > .select > .options {
    background-color: #ffffff;
    border: solid 2px var(--color-dialog-noFocus);
    border-radius: 12px;
    display: none;
    flex-direction: column;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: calc(100% - 20px);

    z-index: 120;
}
.field-container.select > .input > .select > input:focus + .options,
.field-container.select > .input > .select:focus > .options {
    display: flex;
}

.field-container.select .item {
    align-items: center;
    display: flex;
    gap: 8px;
    padding: 8px 24px 8px 16px;
    position: relative;
    width: calc(100% - 40px);

    transition: background-color 350ms;
}
.field-container.select > .input > .select > .options > .item:hover {
    background-color: var(--color-dialog-off);
    cursor: pointer;
}
.field-container.select .item > .flex-item:last-child {
    flex-grow: 1;
}
.field-container.select .item > .flex-item > h4{
    margin: 0;
}
.field-container.select .item > .flex-item > p{
    margin: 0;
}
.field-container.select .item::after {
    background-color: var(--color-dialog-noFocus);
    border-radius: 50%;
    bottom: -1px;
    content: " ";
    display: block;
    height: 2px;
    left: 18px;
    position: absolute;
    width: calc(100% - 36px);
    z-index: 100;
}
.field-container.select .item:last-child::after {
    display: none;
}

.field-container.select .item > .flex-item > img{
    height: 40px;
    width: 40px;
}
.field-container.select .item > .flex-item > img.circle{
    border-radius: 20px;
    height: 40px;
    width: 40px;
}
.field-container.select .item > .flex-item > img.icon{
    height: 24px;
    width: 24px;
}
.field-container.select .item > .flex-item > img.medium{
    height: 56px;
    width: 56px;
}
.field-container.select .item > .flex-item > img.large{
    height: 64px;
    width: 96px;
}

/* ADDRESS */
.field-address {
    display: grid;
    grid-template-columns: repeat(8, 65.5px);
    gap: 16px 8px;
    position: relative;
    margin-top: 36px;
}
.field-address > .label{
    position: absolute;
    margin: 0;
    top: -36px;
}
.field-address > .field-container{
    grid-column: span 4;
    width: auto;
}
.dialog .field-address {
    grid-template-columns: repeat(8, calc((100% - 56px) / 8));
    width: 100%
}

/* FILE SELECTOR */
.field-container.fileSelect {
    width: 561px;
}
.dialog .field-container.fileSelect {
    width: calc(100% - 20px) ;
}
.field-container.fileSelect > .file-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 450px;
}
.field-container.fileSelect > .file-container > .file {
    border-radius: 12px;
    cursor: pointer;
    padding: 8px 8px 8px 12px;

    transition: background-color 350ms;
}
.field-container.fileSelect > .file-container > .file:hover {
    background-color: var(--color-dialog-off);
}
.field-container.fileSelect > .file-container > .file.selected {
    background-color: var(--color-dialog-main-light);
    transition: background-color 350ms, color 350ms;
}
.field-container.fileSelect > .file-container > .file.selected:hover {
    background-color: var(--color-dialog-main);
    color: #ffffff;
}

/* MOBILE DESIGN */
@media only screen and (max-width: 768px) {
    .dialog {
        border-radius: 0;
        height: calc(100vh - 100px);
        left: 0;
        top: 0;
        width: calc(100vw - 82px);
        transform: initial;
    }

    .dialog > .view-container {
        max-height: 80vh;
    }
    .dialog > .view-container > .view > .content-container> .dialog-content.form[orientation=horizontal]{
        flex-direction: column;
    }
    .dialog > .view-container > .view > .content-container> .dialog-content.form[orientation=horizontal] > .field-container{
        width: calc(100% - 20px);
    }

    .dialog > .mobile-close {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' overflow='visible' stroke='black' stroke-width='4' stroke-linecap='round'%3E%3Cline x1='2' y1='2' x2='22' y2='22' /%3E%3Cline x1='22' y1='2' x2='2' y2='22' /%3E%3C/svg%3E");
        display: block;
        cursor: pointer;
        position: absolute;
        opacity: 0.6;
        top: 32px;
        right: 32px;
        height: 24px;
        width: 24px;

        transition: opacity 350ms;
    }
    .dialog > .mobile-close:hover {
        opacity: 1;
    }
}